<!DOCTYPE html>
<html ng-app="angular-ui-select2-demo">
<head>
	<link rel="stylesheet" href="../bower_components/bootstrap/dist/css/bootstrap.min.css">
	<link rel="stylesheet" href="../bower_components/select2/select2.css">
	<style>
	.container {
		padding-bottom: 4em;
	}

	h2 {
		border-bottom: 1px solid #ddd;
		margin-top: 2em;
	}
	h3 {
		font-size: 16px;
		font-weight: normal;
		margin-top: 0.2em;
	}
	.select2-container {
	}
	label {
		font-size: 16px;
		font-weight: normal;
		display: block;
		color: #333;
	}
	.example.row {
		margin-top: 1em;
	}
	</style>
	<script src="../bower_components/jquery/dist/jquery.js"></script>
	<script src="../bower_components/select2/select2.js"></script>
	<script src="../bower_components/angular/angular.js"></script>
	<script src="../src/select2.js"></script>
	<script src="./app.js"></script>
	<script>
	$(function() {
		var opts=$('#source').html(), opts2='<option></option>'+opts;
		$('select.populate').each(function() { var e=$(this); e.html(e.hasClass('placeholder')?opts2:opts); });
	});
	</script>
</head>
<body>
	<div class="container" ng-controller="MainCtrl">

		<article class="row" id="basics">
			<h2>The Basics</h2>
			<div class="example row">
				<div class="col-md-4 left">
					<label>&lt;select&gt;</label>
					<select style="width:300px" ui-select2 ng-model="basicsValue" id="source">
						<optgroup label="Alaskan/Hawaiian Time Zone">
							<option value="AK">Alaska</option>
							<option value="HI">Hawaii</option>
						</optgroup>
						<optgroup label="Pacific Time Zone">
							<option value="CA">California</option>
							<option value="NV">Nevada</option>
							<option value="OR">Oregon</option>
							<option value="WA">Washington</option>
						</optgroup>
						<optgroup label="Mountain Time Zone">
							<option value="AZ">Arizona</option>
							<option value="CO">Colorado</option>
							<option value="ID">Idaho</option>
							<option value="MT">Montana</option>
							<option value="NE">Nebraska</option>
							<option value="NM">New Mexico</option>
							<option value="ND">North Dakota</option>
							<option value="UT">Utah</option>
							<option value="WY">Wyoming</option>
						</optgroup>
						<optgroup label="Central Time Zone">
							<option value="AL">Alabama</option>
							<option value="AR">Arkansas</option>
							<option value="IL">Illinois</option>
							<option value="IA">Iowa</option>
							<option value="KS">Kansas</option>
							<option value="KY">Kentucky</option>
							<option value="LA">Louisiana</option>
							<option value="MN">Minnesota</option>
							<option value="MS">Mississippi</option>
							<option value="MO">Missouri</option>
							<option value="OK">Oklahoma</option>
							<option value="SD">South Dakota</option>
							<option value="TX">Texas</option>
							<option value="TN">Tennessee</option>
							<option value="WI">Wisconsin</option>
						</optgroup>
						<optgroup label="Eastern Time Zone">
							<option value="CT">Connecticut</option>
							<option value="DE">Delaware</option>
							<option value="FL">Florida</option>
							<option value="GA">Georgia</option>
							<option value="IN">Indiana</option>
							<option value="ME">Maine</option>
							<option value="MD">Maryland</option>
							<option value="MA">Massachusetts</option>
							<option value="MI">Michigan</option>
							<option value="NH">New Hampshire</option>
							<option value="NJ">New Jersey</option>
							<option value="NY">New York</option>
							<option value="NC">North Carolina</option>
							<option value="OH">Ohio</option>
							<option value="PA">Pennsylvania</option>
							<option value="RI">Rhode Island</option>
							<option value="SC">South Carolina</option>
							<option value="VT">Vermont</option>
							<option value="VA">Virginia</option>
							<option value="WV">West Virginia</option>
						</optgroup>
					</select>
				</div>
				<div class="col-md-8 right">
					<h3>Value</h3>
					<pre>{{ basicsValue }}</pre>
				</div>
			</div>
		</article>

		<article class="row" id="multi">
			<h2>Multi-Value</h2>
			<div class="example row">
				<div class="col-md-4 left">
					<label>&lt;select multiple&gt;</label>
					<select style="width:300px" ui-select2 multiple ng-model="multiValue" class="populate"></select>
				</div>
				<div class="col-md-8 right">
					<h3>Value</h3>
					<pre>{{ multiValue }}</pre>
				</div>
			</div>
			<div class="example row">
				<div class="col-md-4 left">
					<label>Pre-defined value</label>
					<input type="hidden" style="width:300px" ui-select2="multi" ng-model="multi2Value"/>
				</div>
				<div class="col-md-8 right">
					<h3>Config</h3>
					<pre><code>{
    multiple: true,
    query: function (query) {
      query.callback({ results: states });
    },
    initSelection: function(element, callback) {
      var val = $(element).select2('val'),
        results = [];
      for (var i=0; i&lt;val.length; i++) {
        results.push(findState(val[i]));
      }
      callback(results);
    }
  }</code></pre>
					<h3>Value</h3>
					<pre>{{ multi2Value }}</pre>
				</div>
			</div>
		</article>

		<article class="row" id="placeholders">
			<h2>Placeholders</h2>
			<div class="example row">
				<div class="col-md-4 left">
					<label>Using data-attribute</label>
					<select style="width:300px" ui-select2 ng-model="placeholdersValue" class="populate placeholder" data-placeholder="Select a State"></select>
				</div>
				<div class="col-md-8 right">
					<h3>Value</h3>
					<pre>{{ placeholdersValue }}</pre>
				</div>
			</div>
			<div class="example row">
				<div class="col-md-4 left">
					<label>Multiple, using config</label>
					<select style="width:300px" ui-select2="placeholders" multiple ng-model="placeholdersMultiValue" class="populate"></select>
				</div>
				<div class="col-md-8 right">
					<h3>Config</h3>
					<pre><code>{{ placeholders }}</code></pre>
					<h3>Value</h3>
					<pre>{{ placeholdersMultiValue }}</pre>
				</div>
			</div>
		</article>

		<article class="row" id="array">
			<h2>Array Data</h2>
			<div class="example row">
				<div class="col-md-4 left">
					<label>Simple</label>
					<input type="hidden" style="width:300px" ui-select2="array" ng-model="arrayValue"/>
				</div>
				<div class="col-md-8 right">
					<h3>Config</h3>
					<pre><code>{{ array }}</code></pre>
					<h3>Value</h3>
					<pre>{{ arrayValue }}</pre>
				</div>
			</div>
			<div class="example row">
				<div class="col-md-4 left">
					<label>Asynchronous</label>
					<input type="hidden" style="width:300px" ui-select2="arrayAsync" ng-model="arrayAsyncValue"/>
				</div>
				<div class="col-md-8 right">
					<h3>Config</h3>
					<pre><code>{
    query: function (query) {
      query.callback({ results: states });
    },
    initSelection: function(element, callback) {
      var val = $(element).select2('val');
      return callback(findState(val));
    }
  }</code></pre>
					<h3>Value</h3>
					<pre>{{ arrayAsyncValue }}</pre>
				</div>
			</div>
		</article>

		<article class="row" id="custom-element">
			<h2>Custom Element</h2>
			<div class="example row">
				<div class="col-md-4 left">
					<p>
					The <tt>ui-select2</tt> directive can also be used as an element to allow for declarative configuration of some of select2's behaviors.
					</p>
					<h3>Value</h3>
					<pre>{{ customElementValue }}</pre>
				</div>
				<div class="col-md-8 right">
					<pre><code>&lt;ui-select2 style="width:300px" options="customElementConfig" ng-model="customElementValue">
&lt;/ui-select2></code></pre>
					<ui-select2 style="width:300px" options="customElementConfig" ng-model="customElementValue">
					</ui-select2>
				</div>
			</div>

			<div class="example row">
				<div class="col-md-4 left">
					<label><strong>formatResult</strong></label>
					<p>
						Results within the dropdown can be displayed with custom markup.
					</p>
				</div>
				<div class="col-md-8 right">
					<pre><code ng-non-bindable>&lt;ui-select2 style="width:300px" options="customElementConfig" ng-model="customElementValue">
    &lt;format-result>
        &lt;strong>{{ id }}&lt;/strong>
        &lt;i>{{ text }}&lt;/i>
    &lt;/format-result>
&lt;/ui-select2></code></pre>

					<ui-select2 style="width:300px" options="customElementConfig" ng-model="customElementValue">
						<format-result>
							<strong>{{ id }}</strong>
							<i>{{ text }}</i>
						</format-result>
					</ui-select2>

				</div>
			</div>

			<div class="example row">
				<div class="col-md-4 left">
					<label><strong>formatSelection</strong></label>
					<p>
						Selected results within the control can be displayed with custom markup.
					</p>
				</div>
				<div class="col-md-8 right">
					<pre><code ng-non-bindable>&lt;ui-select2 style="width:300px" options="customElementConfig" ng-model="customElementValue">
    &lt;format-selection>
        &lt;strong>{{ id }}&lt;/strong>
        &lt;i>{{ text }}&lt;/i>
    &lt;/format-selection>
&lt;/ui-select2></code></pre>

					<ui-select2 style="width:300px" options="customElementConfig" ng-model="customElementValue">
						<format-selection>
							<strong>{{ id }}</strong>
							<i>{{ text }}</i>
						</format-selection>
					</ui-select2>

				</div>
			</div>

			<div class="example row">
				<div class="col-md-4 left">
					<label><strong>formatNoMatches</strong></label>
					<p>
						The message shown when no results match the query can be displayed with custom markup. The template will be rendered with one local.
						<ul>
							<li><tt>input</tt> (<i>String</i>) the current search term</li>
						</ul>
					</p>
				</div>
				<div class="col-md-8 right">
					<pre><code ng-non-bindable>&lt;ui-select2 style="width:300px" options="customElementConfig" ng-model="customElementValue">
    &lt;format-no-matches>
        &lt;svg style="width: 16px; height: 16px">
            &lt;circle fill="red" stroke-width="10" cx="8" cy="10" r="6" />
        &lt;/svg>
        No matches found for term
        &lt;i>{{ input }}&lt;/i>
    &lt;/format-no-matches>
&lt;/ui-select2></code></pre>
					<ui-select2 style="width:300px" options="customElementConfig" ng-model="customElementValue">
						<format-no-matches>
							<svg style="width: 16px; height: 16px">
  							<circle fill="red" stroke-width="10" cx="8" cy="10" r="6" />
							</svg>
							No matches found for input
							<i>{{ input }}</i>
						</format-no-matches>
					</ui-select2>
				</div>
			</div>

			<div class="example row">
				<div class="col-md-4 left">
					<label><strong>formatSearching</strong></label>
					<p>
						The message shown when retrieving query results asynchronously can be displayed with custom markup.
					</p>
				</div>
				<div class="col-md-8 right">
					<pre><code ng-non-bindable>&lt;ui-select2 style="width:300px" options="customElementConfig" ng-model="customElementValue">
    &lt;format-searching>
        The
        &lt;strong>SEARCH&lt;/strong>
        continues.
    &lt;/format-searching>
&lt;/ui-select2></code></pre>

					<ui-select2 style="width:300px" options="customElementConfig" ng-model="customElementValue">
						<format-searching>
							The
							<strong>SEARCH</strong>
							continues.
						</format-searching>
					</ui-select2>

				</div>
			</div>


			<div class="example row">
				<div class="col-md-4 left">
					<label><strong>formatInputTooShort</strong></label>
					<p>
						The message shown when the search term entered is too short can be displayed with custom markup. The template will be rendered with two locals.
						<ul>
							<li><tt>input</tt> (<i>String</i>) the current search term</li>
							<li><tt>minimumInputLength</tt> (<i>Number</i>) the configured minimum input length</li>
						</ul>
					</p>
				</div>
				<div class="col-md-8 right">
					<pre><code ng-non-bindable>&lt;ui-select2 style="width:300px" options="customElementConfig" ng-model="customElementValue">
    &lt;format-input-too-short>
        Thy Input
        &lt;strong>{{ input }}&lt;/strong>
        Be Too Short By
        &lt;i>{{ minimumInputLength - input.length }}&lt;/i>
    &lt;/format-input-too-short>
&lt;/ui-select2></code></pre>

					<ui-select2 style="width:300px" options="customElementConfig" ng-model="customElementValue">
						<format-input-too-short>
							Thy Input
							<strong>{{ input }}</strong>
							Be Too Short By
							<i>{{ minimumInputLength - input.length }}</i>
						</format-input-too-short>
					</ui-select2>

				</div>
			</div>


			<div class="example row">
				<div class="col-md-4 left">
					<label><strong>formatSelectionTooBig</strong></label>
					<p>
						The messaging shown when attempting to add another selection to an already-full multi-select can be displayed with custom markup. The template will be rendered with one local.
						<ul>
							<li><tt>maximumSelectionSize</tt> (<i>Number</i>) the configured maximum number of selected values</li>
						</ul>
					</p>
				</div>
				<div class="col-md-8 right">
					<pre><code ng-non-bindable>&lt;ui-select2 style="width:300px" options="customElementConfig" ng-model="customElementValue">
    &lt;format-selection-too-big>
        Surely,
        &lt;strong>{{ maximumSelectionSize }}&lt;/strong>
        is sufficient.
    &lt;/format-selection-too-big>
&lt;/ui-select2></code></pre>

					<ui-select2 style="width:300px" options="customElementConfig" ng-model="customElementValue">
						<format-selection-too-big>
							Surely,
							<strong>{{ maximumSelectionSize }}</strong>
							is sufficient.
						</format-selection-too-big>
					</ui-select2>

				</div>
			</div>

		</article>

	</div>
</body>
</html>
